.locationpicker-loading {
  width: 100%;
  text-align: center;
}

.l-locationpicker-class {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

@media (max-width: 500px) {

  .l-locationpicker-class {
    height: 300px;
  }

}
