.location-picker-loading {
  width: 100%;
  text-align: center;
}

.location-picker {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

@media (max-width: 500px) {

  .location-picker {
    height: 300px;
  }

}
